.text{
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-style:oblique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}
.wer{
    text-align: center;
    text-indent: 20px;
    text-transform: capitalize;
}
.wer:hover{
    color: crimson;
    font-size: 60px;
}
a{
    text-decoration: none;
    text-transform: lowercase;
}